{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}




<style>
  .article-card{
  width:30%;
  }
  .container{
    display:flex;
  }
</style>

<div  class="isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">

<div class="brand-icons-section">
 
  <h2>{{section.settings.title}}</h2>

  
 
  
  <select  id="option-select" class="field__input">
    
      
{% for link in linklists.blog_filter.links %}
	
<option value="{{ link.url |remove: "/blogs/"}}">{{ link.title }}</option>
{% endfor %}
    
</select>
  
  
  <br/>

      
{% for link in linklists.blog_filter.links %}
	
  {%assign han=link.url |remove: '/blogs/'%}
  {%if forloop.index==1%}
    <script>var lastcontent={{han|json}}</script>{%endif%}
  
  <div class="container" id="cat{{han}}" {%if forloop.index==1%}style="display:block" {%else%} style="display:none"{%endif%}>
 
    {% for article in blogs[han].articles %}
  
  <div class="article-card">
  <a href="{{article.link}}">
  <img src="{{ article.image.src | image_url: width: 500 }}"/>
  <p>{{ link.title }}</p>
  <p>{{article.title}}</p>
  
    </a>
  </div>

{% endfor %} 
  </div>
{% endfor %}
  
  
  
  
  
  

  
  
</div>

</div>


<script>
  
  
document.getElementById('option-select').addEventListener('change', function() {
  
  document.getElementById(`cat${this.value}`).style.display="block";
  
   document.getElementById(`cat${lastcontent}`).style.display="none";
  
  lastcontent=this.value;
  
});
  
  

</script>



{% schema %} 
{
"name": "Blog Filter",
"settings": [
 {
  "type": "text",
  "id": "title",
  "label": "Section Heading"
},
{
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }


  ],

 "blocks": [
     {
       "name": "icon",
       "type": "icon",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Select Image"
         }
       ]
     }
   ],

"presets": [
{
"name": "Blog Filter",
"category": "Custom Layout"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}