{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
.section-{{ section.id }}-padding .product-image img{width:100%;}
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}




<style>
  .product-icons{
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  @media(max-width:992px){
  .section-{{ section.id }}-padding {
    padding-top:0px;
    padding-bottom:0px;
  }
    .product-banner .product-image .product-desc{
    left:20px;
    }
    .section-{{ section.id }}-padding .product-image img{min-height:200px;}
  }
</style>

<div  class="isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }}-padding">

  <div class="product-image">
    {%- if product.metafields.my_fields.banner_image != blank -%}
          <img
            srcset="{%- if product.metafields.my_fields.banner_image.width >= 165 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.metafields.my_fields.banner_image.width >= 360 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.metafields.my_fields.banner_image.width >= 535 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 535 }} 535w,{%- endif -%}
              {%- if product.metafields.my_fields.banner_image.width >= 750 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 750 }} 750w,{%- endif -%}
              {%- if product.metafields.my_fields.banner_image.width >= 1070 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 1070 }} 1070w,{%- endif -%}
              {%- if product.metafields.my_fields.banner_image.width >= 1500 -%}{{ product.metafields.my_fields.banner_image | image_url: width: 1500 }} 1500w,{%- endif -%}
              {{ product.metafields.my_fields.banner_image | image_url }} {{ product.metafields.my_fields.banner_image.width }}w"
            src="{{ product.metafields.my_fields.banner_image | image_url: width: 1500 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ product.metafields.my_fields.banner_image.alt | escape }}"
            loading="lazy"
            width="{{ product.metafields.my_fields.banner_image.width }}"
            height="{{ product.metafields.my_fields.banner_image.height }}"
          >
        {%- endif -%}
    <div class="product-desc"><h1>{{product.title|upcase}}<sup>TM</sup></h1></div>
    
  </div>  
  
  
<div class="brand-icons-section">
  
 
</div>

  
</div>




{% schema %} 
{
"name": "Product Banner",
"class": "product-banner",
"settings": [
 {
  "type": "text",
  "id": "title",
  "label": "Section Heading"
},
{
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.video.settings.full_width.label",
      "default": false
    },
{
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }


  ],


"presets": [
{
"name": "Product Banner",
"category": "Custom Layout"
}
]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}